.dejumblerTitle {
    /* font-family: "Blockarama", sans-serif; */
    /* font-size: 100px; */
    height: 2em;
    margin: 0;
}

.navbar {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
}

.statusBar {
    display: flex;
    justify-content: space-between;
}

.textLogo {
    width: 15em;
    height: 2em;
}

.footer {
    margin-top: auto;
    color: red;
}