.dejumblerTitle {
    /* font-family: "Blockarama", sans-serif; */
    /* font-size: 100px; */
    margin: 0;
    width: 25%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
}

.statusBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.smallLogo {
    width: 50px;
    height: 50px;
    fill: var(--main-text-color);
}

/* @media (max-width: 600px) {
    .smallLogo {
        display: block;
    }

    .textLogo {
        display: none;
    }
}

@media (min-width: 600px) {
    .smallLogo {
        display: none;
    }

    .textLogo {
        display: block;
    }
} */

.footer {
    margin-top: auto;
    color: red;
}