.dejumblerTitle {
    /* font-family: "Blockarama", sans-serif; */
    /* font-size: 100px; */
    margin: 0;
    width: 25%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--navbar-height) 1em 0;
    /* padding-top: var(--navbar-height); */
    flex: 1;
    height: calc(100vh - var(--navbar-height));
}

.flexContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100% - 1em);
}

.loggedInWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.signoutButton {
    font-size: 1em;
    width: 90%;
    height: 2em;
    margin: auto;
}

.signoutButton:hover {
    background-color: red;
    color: var(--main-text-color);
}