.loginWrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}

.loading-spinner {
    width: 2em;
    height: 2em;
    border: solid green 1px;
}

.signoutButton {
    color: red;
}

.signoutButton:hover {
    color: white;
    background-color: red;
}