.loginWrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}

.signoutButton {
    color: red;
}

.signoutButton:hover {
    color: white;
    background-color: red;
}