.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0.5em;
    height: 3.5em;
}

.navbar {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
}

.createButton {
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    width: 3em;
    height: 3em;
    background-color: var(--background-color);
    color: var(--main-text-color);
}

.createButton:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.createButton:active {
    width: 2.5em;
    height: 2.5em;
}