.searchResultsWrapper {
    display: flex;
    align-items: center;
    margin: 0px 0 10px 0;
}

.searchResultText {
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-left: 15px;
}

.searchBar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}