.searchResultsWrapper,
.movieSearchResultsWrapper {
    display: flex;
    position: relative;
    align-items: center;
    height: 4em;
    width: 90%;
    z-index: 0;
}

.searchResultsWrapper {
    margin: 0 0.5em 0.5em 0;
}

.movieSearchResultsWrapper {
    margin: 0 1.5em 1.5em 0;
}

.searchResultText {
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-left: 1.5em;
    width: 90%;
}

.searchBar {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
    height: 2em;
}

.searchInputWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    height: 2em;
    align-items: center;
}

.searchInput {
    font-size: 16px;
    border: solid 1px var(--main-text-color);
    background-color: var(--background-color);
    color: var(--main-text-color);
    padding: 0.5em;
}

.searchInput:focus {
    outline: none;
    border: solid 1px var(--accent-color);
}

.clearButton {
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 98;
    border: none;
    background-color: transparent;
    margin-left: 15.5em;
}

.clearButton:hover {
    background-color: transparent;
}

span.clearButtonIcon {
    font-size: 20px;
}

.button {
    border: solid var(--accent-color) 1px;
    background-color: white;
    width: auto;
}

.button:hover {
    background-color: var(--accent-color);
    color: white;
}

.resultsWrapper {
    margin-bottom: 1em;
}

.title {
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.artist {
    font-size: 0.85em;
    color: grey;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.type {
    font-style: italic;
    font-size: 0.75em;
}

.addButton {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    top: 3em;
    left: 3em;
    background: white;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    text-align: center;
}

.addButton:hover {
    background: var(--accent-color);
    color: white;
}

/* .searching {
    color: var(--main-text-color);
    width: 20em;
    height: 10em;
    background-color: green;
} */