/* Main containers */
.wideview {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--navbar-height) - 86.5px - 1em);
}

.mobileview {
    height: auto;
}

.allListsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* flex: 1; */
    width: 35%;
    overflow-y: scroll;
}

.allListsContainer.wide {
    width: 100%;
}

.mobileview .allListsContainer {
    padding-bottom: 1em
}


/* Top bar left -> right */
.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 86.5px; */
}

.filterSelect {
    border: solid 1px var(--accent-color);
    height: 2.5em;
    background-color: var(--background-color);
    color: var(--main-text-color)
}


/* Each clickable list metadata box */
.listInfo {
    padding: 0.5em;
    border: solid var(--main-text-color) 1px;
    display: flex;
    flex-direction: column;
}

.description {
    font-family: cursive;
}

.selected {
    background-color: color-mix(in srgb, var(--accent-color) 25%, white);
}

html[data-theme='dark'] .selected {
    background-color: color-mix(in srgb, var(--accent-color) 50%, black);
}

.kebab {
    align-self: end;
    border: none;
    padding: 0.25em;
    fill: var(--main-text-color);
}

.kebab:hover {
    fill: var(--accent-color);
    cursor: pointer;
    opacity: 75%;
}


/* Wideview list items container */
.currentListContainer {
    /* flex-grow: 1.5; */
    width: 65%;
    /* border: solid 1px var(--main-text-color); */
    margin-left: 1em;
    /* padding: 0.5em; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow-y: scroll;
}

.currentListTopBar {
    display: flex;
    justify-content: space-between;
}

.closeCurrentListButton {
    height: 2em;
    width: 2em;
}

.closeCurrentListButton:hover {
    background-color: red;
}


/* Modals */
.editContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
}

.editButton {
    font-size: 1em;
    width: 90%;
    height: 2em;
    margin: auto;
}

.delete {
    color: red;
    text-decoration: none;
}

.delete:hover {
    color: white;
    background-color: red;
}

/* Edit form */
.form {
    justify-content: space-between;
    gap: 1em;
    height: 100%;
}

.formRow {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.formInput {
    font-size: 1em;
    font-family: 'Epilogue', sans-serif;
    height: 1.5em;
}