.allListsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.listInfo {
    padding: 0.5em;
    border: solid var(--main-text-color) 1px;
    display: flex;
    flex-direction: column;
}

.selectMenu {
    border: solid 1px var(--accent-color);
    height: 2.5em;
    background-color: var(--background-color);
    color: var(--main-text-color)
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kebab {
    align-self: end;
    border: none;
    padding: 0.25em;
    fill: var(--main-text-color);
}

.kebab:hover {
    fill: var(--accent-color);
    cursor: pointer;
    opacity: 75%;
}

.editContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
}

.editButton { 
    font-size: 1em;
    width: 90%;
    height: 2em;
    margin: auto;
}

.delete {
    color: red;
    text-decoration: none;
}

.delete:hover {
    color: white;
    background-color: red;
}

.description {
    font-family: cursive;
}

.formInput {
    font-size: 1em;
    font-family: 'Epilogue', sans-serif;
    height: 1.5em;
}