.allListsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.listInfo {
    padding: 5px;
    border: solid var(--main-text-color) 1px;
    display: flex;
    flex-direction: column;
}

.selectMenu {
    border: solid 1px var(--accent-color);
    border-radius: 5px;
    height: 2.5em;
    background-color: var(--background-color);
    color: var(--main-text-color)
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete {
    color: red;
    align-self: end;
    text-decoration: none;
}

.delete:hover {
    color: white;
    background-color: red;
}

.description {
    font-family: cursive;
}