.formContainer {
    position: fixed;
    border: 1px solid green;
    padding: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formRow {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.nameInput {
    font-size: 1em;
    background-color: var(--background-color);
    flex-grow: 1;
}

.description {
    flex-grow: 1;
}

.createButton {
    justify-self: center;
}

.type {
    height: auto;
    font-size: 16px;
}