/* @font-face {
  font-family: "Blockarama";
  src: url(../public/fonts/Dejumbler-Regular.woff2);
  font-style: normal;
} */

html,
body {
  font-family: 'Epilogue', sans-serif;
  line-height: 1.6;
  height: 98%;
}

p {
  margin: 0;
}

button {
  width: 100px;
  cursor: pointer;
}

a {
  color: green;
}

a:hover {
  background: green;
  color: white
}

select {
  border-radius: 0px;
  border-color: green;
  cursor: pointer;
}

select:hover {
  background-color: green;
  color: white;
}