html,
body {
  font-family: 'Epilogue', sans-serif;
  line-height: 1.6;
}

p {
  margin: 0;
}

button {
  width: 100px;
}

a {
  color: green;
}

a:hover {
  background: green;
  color: white
}

select {
  border-radius: 0px;
  border-color: green;
}

select:hover {
  background-color: green;
  color: white;
}