.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.description {
    font-size: 1em;
}

.textLogo {
    width: 75%;
    height: 50%;
}