.button {
    border: solid green 1px;
    background-color: white;
    width: auto;
    height: 1.5em;
    cursor: pointer;
}

.button:hover {
    background-color: green;
    color: white;
}

.itemWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.listItem {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: solid black 1px;
    padding: 10px 10px 10px 10px;
}

.listItemText {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.listItemActions {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 0.5em;
}

.listInfo {
    margin: 30px 0 20px 0;
}

.listTitle {
    margin: 0;
    line-height: 1.2em;
}

.listType {
    margin: 0;
    font-size: 15px;
    color: grey;
}

.notes {
    font-style: italic;
    font-size: 12px;
}

.notesForm {
    display: flex;
    gap: 0.5em;
    align-items: flex-end;
}

.notesInput {
    max-width: max-content;
    font-family: 'Epilogue', sans-serif;
    line-height: 1.5;
}

.artistRow {
    font-size: 0.75em;
    color: grey;
}